@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}
body #root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  .container {
    @apply w-full max-w-[1200px] mx-auto px-[15px];
  }
  .section {
    @apply mb-4 md:mb-10 lg:mb-16;
  }
  .section-heading {
    @apply text-black text-xl md:text-2xl text-center font-semibold mb-6;
  }
  .section-desc {
    @apply text-center text-darkGrey font-normal text-base;
  }
}

.custom-radio > div {
  box-shadow: 0 0 0 2px black;
}

.custom-radio input:checked + div {
  @apply bg-green-500;
  box-shadow:
    0 0 0 2.5px white,
    0 0 0 5px rgb(14 159 110 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div > div {
  display: flex;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-weight: 900;
  color: white;
  box-shadow: 0;
}
