@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
body #root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer base {
  .container {
    @apply w-full max-w-[1440px] mx-auto px-[15px];
  }
  .section {
    @apply mb-6 md:mb-12 lg:mb-28;
  }
  .section-heading {
    @apply text-black text-2xl md:text-3xl text-center font-semibold mb-2;
  }
  .section-desc {
    @apply text-center text-darkGrey font-normal text-base;
  }
}

.custom-radio > div {
  box-shadow: 0 0 0 2px black;
}

.custom-radio input:checked + div {
  @apply bg-green-500;
  box-shadow:
    0 0 0 2.5px white,
    0 0 0 5px rgb(14 159 110 / var(--tw-bg-opacity));
}
.custom-checkbox input:checked + div > div {
  display: flex;
}
